<header id="header">
<div class="header_content_logo">
            <img src="/resources/static/image/logo.png" alt="logo">
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="header_content_menu" id="menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="team.html">Команда</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="approaches.html">Подходы</a></li>
            <li><a href="registration.html" >Войти</a></li>
            
        </ul>
        <script src="/resources/static/scripts/mobile_menu.js"></script>
    </header>