<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Регистрация</title>
<script src="/resources/static/scripts/header_footer.js"></script>

    <meta charset="UTF-8">
</head>

<body>
    <div id="header-placeholder"></div>
    <main id="main">
        <form class="registration-form" id="registration-form">
            <input type="text" id="username" class="username" placeholder="Введите имя">
            <input type="email" id="email" class="email" placeholder="Введите email">
            <input type="password" id="password" class="password" placeholder="Введите пароль"/>
            <button type="submit" id="log_in_btn"></button>
            <button type="submit" id="sign_in_btn"></button>
        </form>
    </main>
    <div id="footer-placeholder"></div>

</body>

</html>