<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/resources/static/css/base.css">
    <link rel="stylesheet" href="/resources/static/css/header.css">
    <link rel="stylesheet" href="/resources/static/css/footer.css">
    <link rel="stylesheet" href="/resources/static/css/main.css">
    <link rel="stylesheet" href="/resources/static/css/pages.css">
        <script src="/js/shortcut/header_footer.js"></script>

    <meta charset="UTF-8">
</head>

<body>
    <div id="header-placeholder"></div>
    <main></main>
    <div id="footer-placeholder"></div>
    <script src="/js/mobile_menu.js"></script>

</body>

</html>